<div class="container mt-5">
  <h4 class="mb-4">配送先登録/一覧</h4>

  <%= form_with scope: :address, url: public_addresses_path, local: true do |f| %>

    <div class="row mb-3">
      <div class="col-md-3">
        <strong>郵便番号</strong>
      </div>
      <div class="col-md-6">
        <%= f.text_field :postal_code, class: "form-control", placeholder: "0000000" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3">
        <strong>住所</strong>
      </div>
      <div class="col-md-6">
        <%= f.text_field :address, class: "form-control", placeholder: "東京都渋谷区代々木神園町0-0" %>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-3">
        <strong>宛名</strong>
      </div>
      <div class="col-md-6">
        <%= f.text_field :name, class: "form-control", placeholder: "令和 道子" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 text-end">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    </div>

  <% end %>
</div>

<table class="table table-bordered align-middle">
  <thead class="table-light">
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td class="text-center">
          <%= link_to "変更する",edit_public_address_path(address),class: "btn btn-sm btn-success me-2" %>

          <%= link_to "削除する",public_address_path(address),method: :delete,data: { confirm: "本当に削除しますか？" },class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
